*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: #eeee;
  min-height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:rgba(238, 238, 238,4);
    padding: 20px;
    box-shadow: 0px .5px 10px .5px grey;
    z-index: 100;
}
.active {
    display:none;
}
nav .logo{
    font-size: 40px;
    border-bottom:4px solid black;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    font-size: 20px;
   margin-inline: 15px;
}
nav ul li:hover{
    border-bottom: 2px solid black;
    color: #55d5ff;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    padding: 20px;
}
.main img{
    width: 500px;
}
.main .top{
    color: #55d5ff;
}
.mainText h1{
    font-size: 44px;
}
.mainText p{
    margin-top: 12px;
}
.mainText button{
    background: #55d5ff;
    color: white;
    margin-top: 12px;
    border-radius: 5px;
    padding: 8px 12px;
    border: none;
}
.mainText button:hover{
    background: transparent;
    border: 2px solid #55d5ff;
    color: #55d5ff;
}
.trend{
   margin-bottom: 100px;
   margin-top: 50px;
}
.trend2 .trendText{
    text-align: center;
}

.trend .trendText{
    text-align: center;
}
.card{
    padding: 33px;
    display: flex;
    justify-content: space-around;
}
.crd{
    width: 350px;
    height: 450px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px 20px;
    margin-inline: 15px;
    
}
.crdText{
    margin-top: 10px;
    line-height: 2rem;
}
.crdText button{
    padding: 8px 12px;
    background: #ff6915;
    border-radius: 10px;
    border: none;
    font-size: 18px;    
}

.crd .img{
    width: 100%;
    height: 60%;
    margin: auto;
    
    border-radius: 10px;
}
.blog_section .trendText{
    text-align: center;
}

.blog{
  width: 45%;
  padding: 15px;
  background: white;
    display: flex;
    border: 2px solid black;
   margin-inline: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
   
}
.blog img{
    width: 55%;
    height: 300px;
    border-radius: 15px;
    
}
.blogText{
   
    margin-left: 15px;
}
.blogText h1{
    font-size: 22px;
}
.blogText p{
    font-size: 16px;
}
.blogText a{
    padding: 10px 12px;
    background: #2b43ffda;
    position: relative;
    top: 15px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.blogText a:hover{
    text-decoration: unset;
}

.letter {
    background: darkblue;
    height: 130px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.inp{
    display: flex;
    font-size: 18px;
    padding: 10px;
}
.inp input{
    padding: 10px 15px;
    border-radius:15px;
    border: none;
}
.inp button{
    border-radius:15px;
    padding: 10px;
    background: #006cff;
    color: white;
    border: none;
}
.footer{
    display: flex;
    padding: 50px;
}

.footer .footText{
    margin-inline:30px;
}
.footText p{
    margin-bottom: 12px;
}
.footText h1{
    margin-bottom: 12px;
    font-size:25px;
}
.cart{
   
    display: none;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.cart img{
    width: 55%;
}
.cartText{
    margin-left: 20px;
}
.cartText h1{
    font-size: 30px;
}
.cartText h2{
    margin-top: 10px;
}
.cartText p{
    margin-top: 8px;
}
.cartText .btn button{
    padding: 8px 15px;
    border: none;
    color: black;
    background: #ff9d2b;
    font-size: 20px;
    border-radius: 5px;
    
}
.cartText .btn{
    margin-top: 20px;
    display: flex;
    gap:15px;
}
.back{
    padding: 8px 16px;
    background: #6acbff;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}
.aboutus{
    display: none;
}
.aboutTop{
    height: 130px;
    background: darkblue;
    padding: 30px 20px;
    color: white;  
}
.aboutMain{
    display:flex;
    width: 70%;
    height: 400px;
    justify-content:space-between;
    margin: 120px auto;
    background: white;
    padding: 20px;
    align-items: center;
    
}
.aboutMain .aboutText{
    margin-left: 20px;
}
.aboutMain img{
    width: 50%;
    height: 80%;
}

/* Responsive */

@media screen and (max-width:600px) {

nav{
    height: 70px;
    padding:8px ;
}
nav .logo{
    font-size:14px;
}
nav ul{
    display: flex;
   font-size: 12px;
    transition: left 0.5s ease;
}
nav ul li{
    font-size: 12px;
    margin-inline:8px ;
}
nav .ul_Links{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   justify-content: center;
 background: white;
 min-height: 100vh;
 margin: 0;
 left: 0;
 top: 0;
 min-width: 100%;
 
   
}
.active{
    z-index: 9999;
}
.active::before{
    content: R;
    z-index: 9999;
}
nav .ul_Links li{
    margin-bottom:25px;
}

.main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.main img{
    width: 70%;
}

.footer{
    flex-direction: column;
}
.letter {
    flex-direction: column;
    height: 170px;
    align-items: center;
    justify-content: center;
}
.letterText h1{
    font-size: 25px;
    margin-bottom: 5px;
}
.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crd{
    width: 95%;
    margin: 10px;
}
.cart{
    display: none;
    justify-content: space-between;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}
.cart img{
    width: 100%;
    margin-bottom: 10px;
}
.blog_section{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-top: 10px;
    padding: 10px 0;
}

.blog{
    width: 110%;
    margin-bottom: 10px;
    border: none;
}
.aboutMain{
    width: 90%;
    padding: 10px;
}
.aboutMain img{
    width: 60%;
    height: 70%;
}
.aboutMain .aboutText h1{
    font-size: 19px;
}
.aboutMain .aboutText p{
    font-size: 14px;
}
.footer{
    padding: 30px;
}

.footer .footText{
    margin-inline:10px;
}
.footText h1{
display: inline-block;
    margin-bottom: 12px;
    font-size:25px;
    border-bottom: 2px solid black;
}

 }
